<h1>Pets</h1>

<div class="card-container">
  <% @pets.each do |pet| %>
    <div class="card-pet">
      <%= cl_image_tag pet.photo.key %>
      <div class="card-description">
        <h2><%= pet.name %></h2>
        <div class="card-description-details">
          <p><%= pet.pet_type %></p>
          <p><%= pet.race %></p>
        </div>
        <div class="card-pet-foot">
          <%= link_to "Details", pet_path(pet) %>
          <%= link_to "Book", pet_path(pet) %>
        </div>
      </div>
    </div>
    <% end %>
</div>







