
<div class="pet-show-card">
  <div class="pet-image">
    <% if @pet.photo.attached? %>
    <%= cl_image_tag @pet.photo.key, class: "pet-show-img"%>
    <% else %>
    <%= image_tag 'd-pets.png', class: "pet-show-img" %>
    <% end %>
  </div>
  <div class="pet-detail">
    <h1><%= @pet.name.capitalize %></h1>
    <div class="pet-show-description">
      <h3>Le <%= @pet.pet_type %> <%= @pet.race %></h3>
      <p><%= @pet.description %></p>
      <p> <%= @pet.price %> $/day </p>
    </div>
    <div class="pet-detail-footer">
      <% if policy(@pet).edit? %>
        <%= link_to "Edit", edit_pet_path(@pet), class: "my-btn btn-pet-show" %>
      <% end %>
      <% if policy(@pet).destroy? %>
        <%= link_to "Delete", pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" }, class: "my-btn btn-pet-show" %>
      <% end %>
    </div>
    <% unless current_user == @pet.user %>
    <%= link_to "Make a booking", new_pet_booking_path(@pet), class: "my-btn btn-pet-show", data: {turbolinks: "false"} %>
    <% end %>
  </div>
</div>
