
<div class="pet-show-card">
  <div class="pet-image">
    <% if @pet.photo.attached? %>
    <%= cl_image_tag @pet.photo.key, class: "pet-show-img"%>
    <% else %>
    <%= image_tag 'd-pets.png', class: "pet-show-img" %>
    <% end %>
  </div>
  <div class="pet-detail">
    <h1><%= @pet.name.capitalize %></h1>
    <div class="pet-show-description">
      <h3> <%= @pet.name.capitalize %> est un <%= @pet.pet_type %>, de la race <%= @pet.race %></h3>
      <h4><%= @pet.description %></h4>
      <p> Vous pouvez profiter de <%= @pet.name.capitalize %> pour <%= @pet.price %> €/jour ! </p>
    </div>
    <div class="pet-detail-footer">
      <% if policy(@pet).edit? %>
        <%= link_to "Modifier", edit_pet_path(@pet), class: "my-btn btn-pet-show" %>
      <% end %>
      <% if policy(@pet).destroy? %>
        <%= link_to "Supprimer", pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" }, class: "my-btn btn-pet-show" %>
      <% end %>
    </div>
    <% unless current_user == @pet.user %>
    <%= link_to "Faire une reservation", new_pet_booking_path(@pet), class: "my-btn btn-pet-show", data: {turbolinks: "false"} %>
    <% end %>
  </div>
</div>
