
<div class="section-title">
<h1>Mes réservations</h1>
</div>

<div class="container-my-bookings">
<div class="cards-container d-flex">
  <p><%= "Vous n'avez pas encore effectué de réservations" if @bookings.empty? %></p>
  <% @bookings.each do |booking| %>
  <div class="card-booking">
  <div class="card-booking-img">
   <% if booking.pet.photo.attached? %>
        <%= cl_image_tag booking.pet.photo.key %>
      <% else %>
        <%= image_tag 'd-pets.png' %>
      <% end %>
  </div>
    <div class="card-title-booking">
      <h5><strong><%= link_to booking.pet.name, pet_path(booking.pet), class: "show-from-dashboard"%></strong></h5>
    </div>
      <div class="card-text-booking">
        <p> Vous avez effectué une réservation pour un <%= booking.pet.pet_type %>, plus précisemment un <%= booking.pet.race %></p>
      </div>
      <div class="card-details-booking">

        <p>Du: <%= booking.start_date %> Au: <%= booking.end_date %> - <%= booking.days %> jours</p>
        <p><strong><%= booking.price %>€</strong></p>
        <p class="<%= booking.accepted %>"> Statut: <%= booking.accepted.capitalize %></p>

        <div class="booking-button">
          <%= link_to "Annuler ma réservation", pet_booking_path(booking.pet, booking), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer cette réservation?" }, class: "my-btn btn-card" %>
        </div>
      </div>
    </div>
      <% end %>
</div>
</div>


<div class="section-title">
<h1>Mes animaux réservés</h1>
</div>

<div class="container-booked-pets">
<div class="cards-container d-flex">
  <p><%= "Vous n'avez pas encore d'animaux loués" if @booked.empty? %></p>
  <% @booked.each do |booking| %>
  <div class="card-booking">
  <div class="card-booking-img">
   <% if booking.pet.photo.attached? %>
        <%= cl_image_tag booking.pet.photo.key %>
      <% else %>
        <%= image_tag 'd-pets.png' %>
      <% end %>
  </div>
    <div class="card-title-booking">
      <h5><strong><%= booking.pet.name %></strong></h5>
    </div>
      <div class="card-text-booking">
        <p>Une demande de réservation a été effectuée pour votre <%= booking.pet.pet_type %>, le <%= booking.pet.race %></p>
      </div>
      <div class="card-details-booking">

        <p>Du: <%= booking.start_date %> Au: <%= booking.end_date %> - <%= booking.days %> jours</p>
        <p><strong><%= booking.price %>€</strong></p>
        <p class="<%= booking.accepted %>"> Statut: <%= booking.accepted.capitalize %></p>
        <div class="booking-validation-form">
          <%= simple_form_for [booking] do |f| %>
          <%= f.hidden_field :accepted, value: "accepted" %>
          <%= f.hidden_field :id, value: booking.id %>
          <%= f.submit 'Accepter', class: "my-btn btn-card booking-validation-btn"%>
          <% end %>

          <%= simple_form_for [booking] do |f| %>
          <%= f.hidden_field :accepted, value: "refused" %>
          <%= f.hidden_field :id, value: booking.id %>
          <%= f.submit 'Refuser', class: "my-btn btn-card booking-validation-btn"%>
          <% end %>
        </div>
      </div>
    </div>
      <% end %>
</div>
</div>
